body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  overflow-x: hidden;
  background-color: #000000;

  --black: #111;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --accent: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  transition: opacity 0.5s;
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.App-header {
  background-color: #646972;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 2rem;
}

.input{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Lobby Cards */

.cardMaster {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 230px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
  cursor: pointer;
  color: black;
}

.card:hover {
  transform: scale(1.1);
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.card p {
  font-size: 16px;
  margin: 5px 0;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* /// Hud 1 /// */

.Hud{
  margin: 0;
  padding: 0;
  background-image: url('../../assets/hud.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.personalProjects {
  width: 100%;
  height: 100%;

}

.textBoxes {
  height: 15rem;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;


}

.textBox1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 5cm;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease;
  cursor: pointer;
  color: black;
  margin-top: 1rem;
  filter: blur(1px);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 80%);
  border-radius: 50px;
}

.textBox1:hover {
  transform: scale(1.1);
}

.textBox1 h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.cardHud1{
  border-radius: 80px;
  padding-bottom: 10px;
  border: red 5px solid;
}

.targetImg {
  padding-bottom: 3rem;
  }

.textBox1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.myMoonIcon {
  background-color: #646972;
  padding: 3rem;
  color: #00fb04;
}


.textBox2{
  width: 8rem;
  height: 4rem;
  margin-top: 3rem;
  margin-left: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.target {
  margin-top: 10rem;
  margin-left: 15rem;
  width: 12rem;
  height: 10rem;
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  gap: 0;
}

.target span{
  font-size: 10mm;
  background-color: #275929;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #00fb04;
  border-bottom: 0;
  border-right: #00fb04 0.5px solid;
  border-left: #00fb04 0.5px solid;

}

.target p{
  padding: 0;
  font-size: 5mm;
  color: red;
  font-weight: bold;
}


.projects {
  width: 20%;
  margin-left: 40%;
  margin-top: 3rem;
  text-align: center;
  animation: textBlink 3s linear infinite;
  font-size: 10mm;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.projectIcon {
  z-index: 9999;
}

.projectSpan {
  margin-right: 3mm;
  margin-bottom: 2mm;
  z-index: 9999;

}

@keyframes textBlink {
  0% {
    color: transparent;
  }
  50% {
    color: green;
  }
  100% {
    color: transparent;
  }
}


/* /// Hud2 /// */



.Hud2{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;
  height: 130vh;
  display: flex;
  flex-direction: column;

}

/* // 3d scroll // */

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  resize: none;
  z-index: unset;
}

.base-page-size{
  display: fixed;
}

.animatedCards{
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 5rem;
}

/* /// 3D Lobby button /// */

button {
  --pink: #2653db;
  --blue: #000000;

  appearance: none;
  border: none;
  cursor: pointer;
  background-color: black;
  color: #fff;
  border-radius: 60px;
  outline: none;
  margin: 0;
  padding: 12px 25px;
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -1px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 2;
}

.shapes {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 60px;
  background: linear-gradient(
    60deg,
    var(--blue) 0%,
    #00000079 30%,
    var(--pink) 70%
  );
}

.blush {
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 30px;
  filter: blur(20px);
}

.blush.pink {
  right: 20px;
  background: var(--purple);
}

.blush.blue {
  left: 20px;
  background: var(--blue);
}

.shapes .container {
  position: absolute;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  width: calc(100% + 200px);
  pointer-events: none;
}

.shapes canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.label {
  width: 180px;
  padding: 20px 0;
  transform: translateZ(0);
  font-weight: 700;
  z-index: 1;
}

.default {
  display: block;
}

.number {
  padding: 20px 0;
  width: 88px;
  position: relative;
  transform: translateZ(0);
}

.number:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  bottom: 1px;
  width: 1px;
  background-color: #35373f;
}

.current {
  color: #8a8d9b;
  opacity: 1;
  display: block;
}

.new {
  color: #fbfaaa;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: block;
}

.add {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(38px);
  pointer-events: none;
  color: #d0d0db;
  display: block;
}


/* /// Social buttons /// */

.action {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  z-index: 1;
}

.action span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a13dea;
  font-size: 2em;
  transition: 0.3s ease-in-out;
}

.action span {
 transform: rotate(135deg); 
}

.action ul {
  position: absolute;
  bottom: 55px;
  background: #fff;
  min-width: 250px;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.action.active ul {
  bottom:65px;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.action.false ul {
  bottom:65px;
  opacity: 1;
  visibility: hidden;
  transition: 0.3s;
}

.action ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  transition: 0.3s;
}

.action ul li:hover {
  font-weight: 600;
}

.action ul li:not {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li img {
  margin-right: 10px;
  opacity: 0.2;
  transform: scale(0.8);
}

.action ul li:hover img {
  opacity:0.8;
}
.social-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

